*.tmp
*.bak
*.cfgc
*.user
*~
.svn
bin
build
lib
srv_gen
msg_gen
CMakeFiles
CMakeCache.txt
cmake_install.cmake
*Config.h
*Config.py
docs
qtcreator-build
build-*
*.tif
*.tfw
*.bag
*.pyc
*.log
*.class
.project
.cproject
.settings
*.stlb
default_warehouse_mongo_db/*
CMakeLists.txt.user
.idea
core
*_qr_code.txt
*_victim.txt
*_obstacle.txt
.idea/
.jpg
*cmake-build-debug*
